# Mengaktifkan mod_rewrite
RewriteEngine On

# Jika permintaan adalah file atau direktori yang ada, lewati aturan penulisan ulang
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Mengarahkan semua permintaan ke index.php
RewriteRule ^(.*)$ index.php?/$1 [L]
